.dashboard-card{

    background:white;

    border-radius:16px;

    padding:25px 30px;

    margin-bottom:25px;

    box-shadow:
        0 8px 30px rgba(0,0,0,.08);

}

.dashboard-card h2{

    color:#1565c0;

    font-size:22px;

    margin-bottom:20px;

}
